<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1,user-scale=no">
        <meta name="format-detection" content="telephone=no">
        <link rel="stylesheet" href="/css/reset.css">
        <link rel="stylesheet" href="/css/all.css">
        <title>书籍详情</title>
    </head>
    <body>
        <div id="app" style=" overflow:hidden;" v-bind:style="{width:screen_width+'px'}" >
            <div class="search">
                <div class="top">
                    <a href="/index" class="top__back"></a>
                    <div id="search-input" class="search-input">
                        <b class="search-input__mi"></b>
                        <input class="search_value" type="text" placeholder="输入书名/作者/关键字">
                        <div class="search-input__btn" v-on:click="doSearch">搜索</div>
                    </div>
                </div>
                <div class="container-scroll scroll-top">
                    <ul class="m-tag -color search-tag" v-show="condition">
                        <li class="u-tag">如果蜗牛有爱情</li>
                        <li class="u-tag">择天记</li>
                        <li class="u-tag">一夜弃妃</li>
                        <li class="u-tag">诛仙</li>
                        <li class="u-tag">豪门小老婆</li>
                        <li class="u-tag">异能小农民</li>
                        <li class="u-tag">武动乾坤</li>
                        <li class="u-tag">别那么骄傲</li>
                    </ul>
                    <ul class="list-h5" v-show="!condition">
                        <li v-for="(item,index) in search" v-show="!empty">
                            <div class="book-h5">
                                <div class="book-h5__cover">
                                    <img v-bind:alt="item.title" v-bind:src="item.cover">
                                    <p class="book-h5__finish">完结</p>
                                </div>
                                <div class="book-h5__info">
                                    <p class="book-h5__title">{{ item.title }}</p>
                                    <p class="book-h5__summary">{{ item.intro }}</p>
                                    <p class="book-h5__auther">{{ item.role[0][1] }}</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </body>
    <script src="/script/vue.min.js"></script>
    <script src="/script/zepto.js"></script>
    <script src="/script/pages/search.js"></script>
</html>