<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1,user-scale=no">
        <meta name="format-detection" content="telephone=no">
        <link rel="stylesheet" href="/css/all.css">
        <link rel="stylesheet" href="/css/reset.css">
        <title>小小书虫</title>
    </head>
    <body>
        <div class="welcome" v-if="loadOff">
            <p class="welcome-title">小小书虫</p>
            <p class="welcome-info">点击开始</p>
        </div>
    </body>
    <script src="/script/vue.min.js"></script>
    <script src="/script/zepto.js"></script>
    <script src="/script/pages/welcome.js"></script>
    </html>