
<section class="top-home">
    <a href="/search">
        <div class="top-home__search">
            输入书名/作者/关键字
        </div>
    </a>
    <div class="slider-bannder" style="position:relative;">
        <ul class="index_top_pic f-cb"v-bind:style="{width:double_screen_width+'px'}">
            <li v-bind:style="{width:screen_width+'px'}" style="float:left;">
                <img class="cover" src="/img/top-home-silder.jpg">
            </li>
            <li v-bind:style="{width:screen_width+'px'}" style="float:left;">
                <img class="cover" src="/img/top-home-silder.jpg">
            </li>
        </ul>
    </div>
    <ul class="top-home__btn">
        <li>
            <a href="/male">
                <img class="top-home__icon" src="/img/top-home-male.png">
                <p class="top-home__dic">男生频道</p>
            </a>
        </li>
        <li>
            <a href="/female">
                <img class="top-home__icon" src="/img/top-home-female.png">
                <p class="top-home__dic">女生频道</p>
            </a>
        </li>
        <li>
            <a href="/category">
                <img class="top-home__icon" src="/img/top-home-fenlei.png">
                <p class="top-home__dic">分类</p>
            </a>
        </li>
        <li>
            <a href="/rank">
                <img class="top-home__icon" src="/img/top-home-rank.png">
                <p class="top-home__dic">排行</p>
            </a>
        </li>
    </ul>
</section>