<section>
    <div class="channel-group">
        <div class="channel-group__header">
            <h2 class="channle-group__title">限时免费</h2>
        </div>
        <ul class="book-table">
            <li class="channel-h5" v-for="(item,index) in free" v-if="index>=0&&index<6" v-bind:data-href="item.reference_id" v-on:click = "doBook($event)">
                <div class="u-book">
                    <div class="book-cover">
                        <img v-bind:alt="item.data.title" v-bind:src="item.data.book_cover">
                        <div class="u-tagRT -freefiction"></div>
                    </div>
                    <div class="info">
                        <h3 class="title">{{ item.data.title }}</h3>
                    </div>
                </div>
            </li>
        </ul>
        <a class="channel-group__footer" href="/free">更多免费佳作&gt;&gt;</a>
    </div>
</section>